@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

@media screen and (max-width: 768px) {
  * {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
  }

  .dev {
    display: flex;
    justify-content: center;
  }
  .dev-link {
    text-decoration: underline;
    color: #000;
  }
}
